# Jupyter Notebooks
NLP Python Jupyter Notebooks/.cache/
NLP Python Jupyter Notebooks/.ipython/
NLP Python Jupyter Notebooks/.local/
NLP Python Jupyter Notebooks/.jupyter/
NLP Python Jupyter Notebooks/nltk_data/
**/.vscode
**/.ipynb_checkpoints